.Spinner {

    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
  }
  
  .spinner {
    width: 40px;
    height: 40px;
    border: 6px solid #eff0e2;
    border-top-color: #f6f03b; /* Tailwind blue-500 */
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
  