Flask==2.2.3
openai==1.61.1
chroma-hnswlib==0.7.6
chromadb==0.6.3
langchain==0.3.17
langchain-community==0.3.16
langchain-core==0.3.34
langchain-openai==0.3.4
langchain-text-splitters==0.3.6
pydantic==2.10.6
pydantic-settings==2.7.1
uvicorn==0.34.0
python-dotenv==1.0.1
numpy==1.26.4
pandas==2.2.3
requests==2.32.3
tiktoken==0.8.0
